body{
    background-color: #282c32;

}

h2{
    color: #ffff;
    font-family: 'Lato', sans-serif;
}
header{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
        ), url(img/headerpeliculas2019.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding: 4% 0 0 0;
    background-repeat: no-repeat;
    width: 1700px;
    height: 250px;
}

footer{
        height: 70px;
        background-color: #363636;
        margin-top: 30px;
        padding: 30px;

    }

/*Estilos tarjetas*/

.container-fluid {
  display: flex;
  flex-direction: row;
  align-content: flex-end;
  flex-wrap: wrap;
  align-items: baseline;
  }


  .card {
    width: 300px;
    height: 350px;
    margin: 1em;
    background:-webkit-linear-gradient(80deg, 		rgb(116, 117, 117) 30%,	rgb(179, 187, 187) 70%);
    box-shadow: 0 20px 50px rgba(0,0,0,.1);
    border-radius: 1em;
    border: black;
    align-content: flex-start;
    display: flex;
    position: relative;
  }

  .card .box {
    text-align: center;
    padding: 1.25em;
    width: 100%;
  }
  .card .box .img {
    width: 100px;
    height: 120px;
    margin: 0 auto;
  }
  .card .box .img img {
    width: 100%;
    height: 100%;
    float: left;
  }
  .card .box{
    font-size: 12px;
    color: solid #262626;
    margin: 1.25em auto;
  }
  .card .box .img img{
    background: #e4e584;
    color: solid rgb(14, 13, 13);
    padding: 0.25em 0.6em;
    border-radius: 15px;
    float: left;
  }
  h5{
    font-size: 15px;
    color: #232323
  }

  .img{
    float: left;
  }

  p{
    text-align: justify;
  }

  #buscador{
    width: 600px;
    border-radius: 5px;
  }

  .paragraf{
    color: white;
    font-size: 5px;
  }
